:root{
    --main-bg-color : #E60012;
    --main-color : #fff;
    --title-color : #333;
    --resume-color : #666;
    --date-color : #999;
    --secondary-bg-color : #eeeeee;
    --hover-color : #bf0010;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-bg-color);
    width: 100%;
    height : 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

li{
    list-style: none;
}

.header__left{
    margin-left: 1em;
}
.header__right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 0.9em;
}

.header__right li div{
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}
.header__right li img{
    width: 3em;
    height: 3em;
}
.header__right li:hover{
    text-decoration: underline;
}
.header__right div img{
    height: 2em;
    width: 2em;
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: var(--secondary-bg-color);
}

nav{
    position: sticky;
    top:4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-bg-color);
    width: 6em;
    min-height: 100%;
}


.side-nav li div{
    height: 5em;
    width: 5em;
    padding : 0.5em;
    align-self: center;
    justify-self: center;
    border-top: 1px solid brown;    
    font-weight: 400;
    white-space: initial;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
    text-align: center;
    font-size: 0.9em;
}

.side-nav li:hover{
    background-color: var(--hover-color);
    transition: background-color .1s ease-in-out 0s;
}
.side-nav li div img{
    height: 3em;
    width: 3em;
}

.side-nav__end{
    background-color: var(--hover-color);
    display: flex;
    flex: 1;
    min-height: 100%;
}

section{
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "content content sidebar";
}
.grid-article{
    padding-left: 0.5%;
    padding-top: 0.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: 17em;
    height: 550px;
    grid-column: content;
}

.grid-article__1{
    grid-column: 1;
    grid-row: 1 / span 2;
}

.grid-article__2{
    grid-column: 2;
    grid-row: 1;
}

.grid-article__3{
    grid-column: 3;
    grid-row: 1;
}

.grid-article__4{
    grid-column: 2 / span 3;
    grid-row: 2;
}

.grid-article div img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
} 

.grid-article div:hover img{
-webkit-transform: translate(0,-2%);
transform: translate(0,-2%);
z-index: auto;
box-shadow: 1px 5px #595853;
}
.latest-news{
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    grid-column: sidebar;
}

.latest-news__header{
    height: 10%;
    background: var(--main-color);
    margin-bottom: 0.5em;
}
.latest-news__header__container{
    display: flex;
    color: var(--title-color);
    border-left: 4px solid #f4f4f4;
    align-self: center;
    margin-left : 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.latest-news__header__container__title{
    font-weight: 700;
    font-size: 1.14em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.5em;
}

a{
    text-decoration: none;
}

.latest-news__article{
    background : var(--main-color);
    display: flex;
    height: 7em;
    margin-bottom: 0.5em;
}
.latest-news__article__container__image{
    width: 7em;
    height: 7em;
}

.latest-news__article__container__image img{
    width: 6em;
    height: 6em;
}
.latest-news__article__title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 1.14em;
    font-weight: bolder;
}

.latest-news__article__date{
    color: var(--date-color);    
    font-size: .8rem;
    font-weight: 300;
}

.latest-news__article__resume{
    color: var(--resume-color);
    font-size: .9286rem;
}

footer{
    border-radius: 5px 5px;
    background: var(--main-bg-color);
    color: var(--main-color);
    grid-column: content;
    margin-top: 5em;
    margin-left: 0.5%;
}

.footer__header{
    height: 2em;
    align-self: center;
}

.footer__content{
    background: var(--hover-color);
}

.footer__content ul{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__content p{
    margin-left : 1em;
}
