:root{
    --main-bg-color : #E60012;
    --main-color : #fff;
    --title-color : #333;
    --resume-color : #666;
    --date-color : #999;
    --secondary-bg-color : #eeeeee;
    --hover-color : #bf0010;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-bg-color);
    width: 100%;
    height : 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

li{
    list-style: none;
}

.header__left{
    margin-left: 1em;
}
.header__right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 0.9em;
}

.header__right li div{
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}
.header__right li img{
    width: 3em;
    height: 3em;
}
.header__right li:hover{
    text-decoration: underline;
}
.header__right div img{
    height: 2em;
    width: 2em;
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: var(--secondary-bg-color);
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--hover-color);
    width: 6em;
    min-height: 100%;
}

.side-nav{
    position: sticky;
    top: 4em;

}
.side-nav li div{
    height: 5em;
    width: 5em;
    padding : 0.5em;
    border-top: 1px solid brown; 
    border-bottom: 1px solid brown; 
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;   
    align-items : center;
    font-weight: 400;
    white-space: initial;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
    text-align: center;
    font-size: 0.9em;
}

.side-nav li:hover{
    background-color: var(--hover-color);
    transition: background-color .1s ease-in-out 0s;
}
.side-nav li div img{
    height: 3em;
    width: 3em;
}

.side-nav__end{
    background-color: var(--hover-color);
}

section{
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "content content sidebar";
}
.grid-article{
    padding-left: 0.5%;
    padding-top: 0.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 17em);
    grid-gap: 0.2em;
    grid-column: content;
}

.grid-article__1{
    grid-column: 1;
    grid-row: 1 / span 2;
}

.grid-article__2{
    grid-column: 2;
    grid-row: 1;
}

.grid-article__3{
    grid-column: 3;
    grid-row: 1;
}

.grid-article__4{
    grid-column: 2 / span 3;
    grid-row: 2;
}

.grid-article div img{
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
} 

.grid-article div:hover img{
    -webkit-transform: translate(0,-2%);
    transform: translate(0,-2%);
    z-index: auto;
    box-shadow: 1px 5px #595853;
}
.latest-news{
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    grid-column: sidebar;
}

.latest-news__header{
    height: 4em;
    background: var(--main-color);
    margin-bottom: 0.5em;
}
.latest-news__header__container{
    display: flex;
    color: var(--title-color);
    border-left: 4px solid #f4f4f4;
    align-self: center;
    margin-left : 1em;
    margin-top: 1em;
}
.latest-news__header__container__title{
    font-weight: 700;
    font-size: 1.14em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.5em;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

.latest-news__article{
    background : var(--main-color);
    display: flex;
    height: 7em;
    margin-bottom: 0.5em;
    overflow: hidden;
}
.latest-news__article__container__image{
    width: 7em;
    height: 7em;
}

.latest-news__article__container__image img{
    width: 6em;
    height: 6em;
}
.latest-news__article__title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 1.14em;
    font-weight: bolder;
}

.latest-news__article__date{
    color: var(--date-color);    
    font-size: .8rem;
    font-weight: 300;
}

.latest-news__article__resume{
    color: var(--resume-color);
    font-size: .9286rem;
}

footer{
    border-radius: 0.4em 0.4em;
    background: var(--main-bg-color);
    color: var(--main-color);
    grid-column: content;
    margin-top: 5em;
    margin-left: 0.5%;
}

.footer__header{
    margin-left: 1em;
    margin-top: 1em;
    height: 2em;
    align-self: center;
}

.footer__content{
    padding-top: 1em;
    padding-bottom: 1em;
    background: var(--hover-color);
    height:fit-content;
}

.footer__content ul{
    margin-left: 1em;
    margin-right: 1em; 
    margin-bottom: 1em; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__content p{
    margin-left : 1em;
}
.article__main{
    grid-column: content;
}
.article__main__title{
    background: linear-gradient(#200122, #6F0000);
}
.article__main__title h4{
    color: var(--main-color);
    text-shadow: 0 2px 15px rgba(0,0,0,.25);
    font-weight: 700;
    font-size: 2.429em;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

.article__main__date{
    color: var(--title-color);
    margin-bottom: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

.article__main__content strong{
    color: #000;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.429rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-left: 5em;
    margin-right: 5em;
}
.article__main__content p{
    display: block;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    margin-top: 0.2em;
    margin-left: 5em;
    margin-right: 5em;
}

.article__404{
    grid-column: content;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.article__404 img{
    border-radius: 0.4em;
    max-width: 100%;
    max-height: 100%;
}

.tournoi{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tournoi__ega{
    height: 10em;
}
.tournoi__ega div{
    display: flex;
    flex-direction: row;    
}
.tournoi__ega__equipe p {
    justify-self: center;
}
.tournoi__ega__equipe{
    border: 1px solid black;
    height: 10em;
    width: 10em;
    display: flex;
    flex-direction: column;
}

.tournoi__ega__equipe img{
    height: 50%;
    width: 50%;
}
.tournoi__ega__equipe div{
    flex-direction: row; 
    width: 50%;
    height: 25%;
    justify-content: space-around;
    border: 1px solid black;
}